.games__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
    /* ff 3.6+ */
    background: #dedede;
}
.games__navbar-links__logo{
    margin-right: 2rem;
}
.games__navbar-links__logo img{
    width: 62px;
    height: 16px;
}

.games__footer-heading {
    width: 100%;
    text-align: left;
    color: #117eb8;
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.games__footer-heading h2 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 75px;
}

.games__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0rem;
    border: 1px solid #fff;
    text-align: center;

    margin-bottom: 10rem;
    cursor: pointer;
}

.icon {
    color: #117eb8;
    font-size: 1.5rem !important;
    margin-right: 2rem;
    margin-left: -1rem;
}

.games__footer-btn p {
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 21px;
    color: #fff;
    word-spacing: 2px;
}

.games__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
}

    .games__footer-links div {
        width: 250px;
        margin: 1rem;
        
    }

.games__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

.games__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

    .games__footer-links_div h4 {
        font-size: 18px;
        line-height: 17px;
        font-weight: bold;
        font-family: var(--font-family);
        color: #117eb8;
        margin-bottom: 0.9rem;
    }
    .games__footer-links_div p {
        font-size: 16px;
        line-height: 15px;
        font-family: var(--font-family);
        color: #117eb8;
        margin: 0.5rem 0;
        cursor: pointer;
    }

.games__footer-copyright {
    margin-top: 1rem;
    text-align: center;
    width: 100%;
}

    .games__footer-copyright p {
        font-size: 12px;
        font-family: var(--font-family);
        line-height: 15px;
        color: #117eb8;
    }

.games__footer-contact {
    margin-top: 1rem;
    text-align: left;
    width: 100%;
}

    .games__footer-contact p {
        font-size: 16px;
        font-family: var(--font-family);
        line-height: 15px;
        color: #117eb8;
    }

.games__footer-contact h4 {
    font-size: 18px;
    line-height: 17px;
    font-weight: bold;
    font-family: var(--font-family);
    color: #117eb8;
    margin-bottom: 0.9rem;
}

.games__footer-heading h2 img{
    width: 35px;
    height: 60px;
}

@media screen and (max-width: 850px) {
    .games__footer-heading h2 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .games__footer-heading h2 {
        font-size: 34px;
        line-height: 42px;
    }

    .games__footer-links div {
        margin: 1rem 0;
    }

    .games__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
    .icon{
        font-size: 1.5rem !important;
        margin-right: 1rem;
        margin-left: 0rem;
    }
    .games__footer-heading h2 img{
        width: 25px;
        height: 45px;
    }
}

@media screen and (max-width: 400px) {
    .games__footer-heading h2 {
        font-size: 27px;
        line-height: 38px;
    }
    .icon{
        font-size: 1.5rem !important;
        margin-right: 2rem;
        margin-left: 0rem;
    }
}