/* star means all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body
{

    /* global 90%+ browsers support */
    background: #fff;
}

a{
    color:unset;
    text-decoration: none;
}

/*angry tools gradient */
.gradient__bg 

{

    /* ff 3.6+ */
    background:#fff;

}

/*
.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
}*/

.gradient__footer{
    background: var(--gradient-footer);
    background-clip: text;
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
}
.section__padding {
    padding: 4rem 6rem;
}

.section__margin {
    margin: 4rem 6rem;
}

/*from animista*/
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  /*for tablets*/
  @media screen and (max-width: 700px) {
    .section__padding {
        padding: 4rem;
    }
    .section__margin {
        margin: 4rem;
    }
  }

    /*for mobile*/
    @media screen and (max-width: 550) {
        .section__padding {
            padding: 4rem 2rem;
        }
        .section__margin {
            margin: 4rem 2rem;
        }
      }