@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: #001e33;
  --gradient-bar: linear-gradient(89.97deg, #9904D9 1.84%, #1E0D8C 102.67%);
  --gradient-footer:  #3cf ;

  --color-bg: #001e33;
  --color-footer : #DCE6F2;
  --color-text: #001e33;
  --color-subtext: #6907F2;
}