/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  font-family: var(--font-family);
    width: 100%;
    height: auto; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    background-color: #966aae;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #ff6d33;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin: 4rem;
    padding: 20px;
  }

  .fname{
      color: #001e33;
  }

  .lname{
    color: #001e33;
}

.subject{
    color: #001e33;
}
@media screen and (max-width: 1050px) {
  .container{
    margin: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .container{
    margin: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .container{
    margin: 0rem;
  }
}