.games__blog {
    display: flex;
    flex-direction: column;    
}

.games__blog-heading {
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}

.games__blog-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
}

.games__blog-container {
    display: flex;
    flex-direction: row;
}

.games__blog-container_groupB {
    flex: 1;

    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .games__blog-container {
        flex-direction: column-reverse;
    }

    .games__blog-container_groupA .games__blog-container_article-image {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .games__blog-container_groupB {
        grid-template-columns: repeat(1, 1fr);
    }
    .games__blog-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .games__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

}