.games__features-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin: 1rem;
}

.games__features-container__feature-title {
    flex: 1;
    max-width: 180px;
    margin-right: 3rem;
}

.games__features-container__feature-title h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #966aae;
}

.games__features-container__feature-title div {
    width: 38px;
    height: 3px;
    background: #3cf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.25rem;
}

.games__features-container_feature-text {
    flex: 2;
    max-width: 390px;
    display: flex;
    
}

.games__features-container_feature-text p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #117eb8;
}

@media screen and (max-width: 550px) {
    .games__features-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .games__features-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .games__features-container__feature {
        margin: 1rem 0;
    }
}