.games__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    border-radius: 0.5rem;
    background: #dedede;
}

.games__cta-content {
    display: flex;
    flex-direction: column;

    text-align: left;
    color: #966aae;
}

.games__cta-content p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
}

.games__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}

.games__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2rem;
}

.games__cta-btn button {
    background: #966aae;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .games__cta {
        flex-direction: column;
    }

    .games__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .games__cta {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .games__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .games__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}