.games__whatgames {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 2rem;
    background: #dedede;
}

.games__whatgames-feature {
    display: flex;
    color: #117eb8;
    font-size: 38px;
    text-align: center;
    font-weight: bold;
}
/* Customizing feature component as per needs */
.games__whatgames-feature .games__features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.games__whatgames-feature .games__features-container_feature-text {
    max-width: 700px;
}

.games__whatgames-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 2rem;
}

.games__whatgames-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
    color: #3cf;
}

.games__whatgames-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #ff6d33;
    cursor: pointer;
}

.games__whatgames-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 1rem;
    font-size: 16px;
}


/* Customizing feature component as per needs */
.games__whatgames-container .games__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.games__whatgames-container .games__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .games__whatgames-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .games__whatgames-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .games__whatgames-feature .games__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .games__whatgames-feature .games__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .games__whatgames-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .games__whatgames-container .games__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}