.games__aboutus {
    display: flex;
    flex-direction: row;
}

.games__aboutus-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.games__aboutus-image img{
    width: 100%;
    height: auto;
}

.games__aboutus-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.games__aboutus-content h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
}


.games__aboutus-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    text-align: left;
    margin: 1rem 0;
}

.games__aboutus-content li p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .games__aboutus {
        flex-direction: column;
    }

    .games__aboutus-image {
        margin: 1rem 0;
    }

    .games__aboutus-image svg {
        width: 300px;
        height: 280px;
    }

    .games__aboutus-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .games__aboutus-image svg {
        width: 200px;
        height: 180px;
    }
    .games__header-content__input button{
        font-size: 16px;
        line-height: 24px;
    }
}
