.wgames__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}

  .at-item {
    color: #001e33;
    animation-name: focus-in-contract;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
    animation: focus-in-contract 1s linear 0s 1 normal none;
    */ 
  }
  @keyframes focus-in-contract {
    0%{
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
    }
    100%{
      filter: blur(0);
      opacity: 1;
    }
  }
  
.wgames__header-content p{
    color: #001e33;
}  

.wgames__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    align-items: center;
}

.wgames__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
}

.wgames__header-content p {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin-top: 1.5rem;
}

.wgames__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    justify-content: center;  
    align-items: center;
}

.wgames__header-content__input button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;

    background: #ff6d33;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 1rem;
    text-align: center;
    margin: auto;
}

.wgames__header-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.wgames__header-image img{
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 1050px) {
    .wgames__header{
        flex-direction: column;
    }
    
    .wgames__header-content{
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .wgames__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .wgames__header b{
        font-size: 16px;
        line-height: 24px;
    }
    
    .wgames__header-content__input button{
        font-size: 16px;
        line-height: 24px;
    }

}

@media screen and (max-width: 490px) {
    .wgames__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    
    .wgames__header p{
        font-size: 14px;
        line-height: 24px;
    }
    .wgames__header-content__input button{
        font-size: 12px;
        line-height: 16px;
    }
}
