.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    flex-direction: row;
  }
  .form-signin h2{
      color: white;
      text-align: center;
  }

  .form-signin .checkbox {
    font-weight: 400;
  }

.btn-primary {
    background-color: #3cf;
    border-color: #3cf;
   
}

  .form-signin p{
    color: #fff;
  }

  .linkprijava{
    text-decoration: underline;
    color: #dedd26;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #595a5a;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.btn-close {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid  #001e33;
  font-size: 20px;
}
  