.formlogin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    flex-direction: row;
  }
.formlogin h2{
    color: white;
    text-align: center;
    font-family: var(--font-family);
}
    .formlogin p {
        color: #b7b7b7;
    }

  .linkprijava{
    text-decoration: underline;
    color: #ff6d33;
  }
.btn-primary {
    background-color: #966aae;
    border-color: #966aae;
}
  
  .formlogin .checkbox {
    font-weight: 400;
  }
  
  .formlogin .form-floating:focus-within {
    z-index: 2;
  }
  
  .formlogin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .formlogin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  /* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.box {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #b7b7b7;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
}

.btn-close {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid  #001e33;;
  font-size: 20px;
}