h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
  text-align: center;
}
.item-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3em;
}

.card img{
  width: 100%;
  height: auto;
}
.card {
  text-align: center;
  justify-content: top;
  padding: 10px;
  width: 300px;
  border-radius: 30px;
  padding: 1em;
  box-shadow: rgb(223, 221, 228) 0px 2px 8px 8px;
  background: #fff;
  margin: 40px;
}

.card h3{
  font-family: var(--font-family);
  color: #001e33;
}
.card h3:hover{
  color: #ff6d33;
}

.card p{
  font-family: var(--font-family);
  color: var(--color-text);
}

.link{
  font-family: var(--font-family);
  color: #ff6d33;
  text-decoration: underline;
}

img {
  height: 100px;
  width: auto;
}

.paginationBttns {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  color: #001e33;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 15px;
  border: 1px solid #001e33;
  color: #001e33;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: #fff;
  background-color: #ff6d33;
}

.paginationActive a {
  color: #fff;
  background-color: #ff6d33;
}
.games__filtering{
  margin-left: 2rem;
}

@media screen and (max-width: 1050px) {
  .card{
    width: 250px;
  }
  .paginationBttns{
    height: 35px;
  }
}

@media screen and (max-width: 700px) {
  .card{
    width: 200px;
  }
  .paginationBttns{
    height: 30px;
  }
}

@media screen and (max-width: 550px) {
  .card{
    width: 150px;
  }
  .paginationBttns{
    height: 20px;
  }
}
.games__filtering button{
  font-family:var(--font-family); 
  background: #001e33;
  border-radius: 15%;
}
.toggle{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  text-align: end;
  background: #001e33;
  padding: 2rem;
  margin-top: 1rem;
  margin-right: 1100px;
  margin-left: 2rem;
  min-width: 100px;
  border-radius: 5px;
  box-shadow: rgb(223, 221, 228) 0px 2px 8px 0px;
}

.filter-option,
.active-option {
  padding: 10px 20px;
  min-width: 50px;
  border-radius: 2rem;
}
.Category-filter {
  justify-content: left;
  align-items: left;
}
.Category-filter p{
  color: #3cf;
  text-align: left;
}

.platform-filter{
  justify-content: left;
  align-items: left;
}

.platform-filter p{
  color: #3cf;
  text-align: left;
}

#category-input{
  width: 200px;
  height: 50px;
  margin-left: 7rem;
  background-color: #001e33;
  color: #3cf;
}

.filter-option:hover,
.active-option {
  background-color: #001e33;
  color: white;
  cursor: pointer;
  transition: all 0.1s;
}
@media screen and (max-width: 1200px) {
  .toggle{
    position: relative;
    top: 0px;
    left: 0rem;
    width: 400px;
  }
}
@media screen and (max-width: 1050px) {
  .toggle{
    position: relative;
    top: 0px;
    left: 0rem;
    width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .toggle{
    position: relative;
    top: 0px;
    left: 0rem;
    width: 400px;
  }
}
@media screen and (max-width: 700px) {
  .toggle{
    position: relative;
    top: 0px;
    left: 0rem;
    width: 400px;
  }
}
@media screen and (max-width: 550px){
  .toggle{
    position: relative;
    top: 0px;
    left: 0rem;
  }
}
