.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container select{
    background: #ff6d33;
    width: 150px;
    height: 30px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    color: #001e33;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0 1rem;
    text-align: center;
    margin: 0.5rem;
}

@media screen and (max-width: 1050px) {
    .filter-container{
        flex-direction: column;
    }
}