.games__aboutus {
    display: flex;
    flex-direction: row;
}
.klasa{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    margin-right: 2rem;
    flex-direction: column;
    color: var(--color-text);
}
.games__aboutus-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2rem;
}
.radio{
    display: none;
}
.games__aboutus-image iframe {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}

.games__aboutus-image iframe img {
    width: 100%;
    height: 100%;
    align-items: center;
}

table {
    border: 2px solid #1E0D8C;
    width: 100%;
    height: auto;
  }
    
  th {
    border-bottom: 2px solid #1E0D8C;
  }
    
.info{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    margin-right: 2rem;
    flex-direction: column;
    color: var(--color-text);
}

.info a{
    text-decoration: underline;
}

.games__aboutus-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: left;
    flex-direction: column;
}

.games__button button {
    flex: 0.6;
    min-height: 50px;
    background: #966aae;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 1rem;
}

.games__aboutus-content h4:last-child {
    color: #ff8A71;
}

.games__aboutus-content h1 {
    font-family: var(--font-family);
    color: var(--color-text);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.games__aboutus-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 2rem;
}

.back img {
    width: 50px;
    height: auto;
}
.card1 {
    text-align: left;
    font-weight: bold;
    justify-content: top;
    padding: 10px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding: 1em;
    box-shadow: rgb(223, 221, 228) 0px 2px 8px 0px;
    background: #b7b7b7;
    color: #966aae;
    margin: 40px;
}
.card1 img{
    width: 50px;
    height: 50px;
}
.klasa p{
    text-align: left;
    color: #FFFFFF;
    margin: 40px;
    margin-bottom: -15px;
    font-size: 20px;
    margin-top: 100px;
}
.klasa1 p{
    text-align: left;
    color: #001e33;
    margin: 40px;
    margin-bottom: -15px;
    font-size: 20px;
}
.lab{
    text-align: left;
}

.card2{
    text-align: center;
    justify-content: center;
    align-self: center;
    padding: 10px;
    width: 400px;
    border-radius: 30px;
    padding: 1em;
    box-shadow: rgb(223, 221, 228) 0px 2px 8px 0px;
    background: #001e33;
    margin: 10px;   
}
.scrollable-div {
    background-color: #b7b7b7;
    height: 200px;
    width: 100%;
    color: #966aae;
    overflow: auto;
    border-radius: 20px;
    margin: 40px;
    text-align: justify;
    padding: 20px;
    font-weight: bold;
}

@media screen and (max-width: 1300px) {
    .card1 img{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 1300px) {
    .card1 img{
        width: 30px;
        height: 30px;
    }
}
  @media screen and (max-width: 1050px) {
    .games__aboutus {
        flex-direction: column;
    }

    .games__aboutus-image {
        margin: 1rem 0;
    }

    .games__aboutus-image iframe {
        width: 1000px;
        height: 500px;
    }

    .games__aboutus-content {
        margin-top: 2rem;
    }
    .klasa h3{
        margin-left: 0rem;
    }
    .scrollable-div{
        margin-left: 0rem;
    }
    .card1{
        margin-left: 0rem;
    }
    .card1 img{
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 950px) {
    .games__aboutus {
        flex-direction: column;
    }

    .games__aboutus-image {
        margin: 1rem 0;
    }

    .games__aboutus-image iframe {
        width: 800px;
        height: 400px;
    }

    .games__aboutus-content {
        margin-top: 2rem;
    }
    .klasa h3{
        margin-left: 0rem;
    }
    .scrollable-div{
        margin-left: 0rem;
    }
    .card1{
        margin-left: 0rem;
    }
    .card1 img{
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 700px) {
    .games__aboutus-image iframe {
        width: 600px;
        height: 300px;
    }
    .games__header-content__input button{
        font-size: 16px;
        line-height: 24px;
    }
    .klasa h3{
        margin-left: 0rem;
    }
    .scrollable-div{
        margin-left: 0rem;
    }
    .card1{
        margin-left: 0rem;
    }
    .card1 img{
        width: 25px;
        height: 25px;
    }
}
@media screen and (max-width: 550px) {
    .games__aboutus-image iframe {
        width: 300px;
        height: 150px;
    }
    .games__header-content__input button{
        font-size: 16px;
        line-height: 24px;
    }
    .klasa h3{
        margin-left: 0rem;
    }
    .scrollable-div{
        margin-left: 0rem;
    }
    .card1{
        margin-left: 0rem;
    }
    .card1 img{
        width: 30px;
        height: 30px;
    }
}



ul {
    list-style: none;
}
li {
    display: inline-block;
    margin-right: 15px;
}
.radio {
    visibility:hidden;
}
h5 {
    cursor: pointer;
}
.ocjena:checked + h5 {
    background: red;
}