.games__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
.at-item{
    animation-name: focus-in-contract;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
    animation: focus-in-contract 1s linear 0s 1 normal none;
    */ 
  }
  @keyframes focus-in-contract {
    0%{
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
    }
    100%{
      filter: blur(0);
      opacity: 1;
    }
  }

.games__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}

.games__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
    text-align: left;
    letter-spacing: -0.04em;
    color: #001e33;
}

.games__header-content p {
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #001e33;
    margin-top: 1.5rem;
}
.square {
    height: 100px;
    width: 100px;
    background-color: #001e33;
    position: relative;
    right: -300px;
    top: -250px;
    border-radius: 50%;
  }
.square1{
    height: 50px;
    width: 50px;
    background-color: #ff6d33;
    border-radius: 50%;
}
.square2 {
    height: 50px;
    width: 50px;
    background-color: #3cf;
    position: relative;
    right: 40px;
    top: 225px;
    border-radius: 50%;
}
  .circle {
    position: relative;
    right:-630px;
    top: -200px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 160px;
    border-radius: 150px 150px 0 0;
    background-color: #3cf;
    transform: rotate(270deg);
  }
  .circle2 {
    position: relative;
    right: -50px;
    top: 100px;
    height: 50px;
    width: 50px;
    background-color: #ff6d33;
    border-radius: 50%;
  }
.games__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
}

.games__header-content__input button{
    flex: 0.6;
    width: 100%;
    min-height: 50px;

    background: #ff6d33;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 27px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0 1rem;
}

.games__header-image{
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.games__header-image img{
    width: 90%;
    height: 90%;
}

@media screen and (max-width: 1500px) {
    .circle{
        right: -610px;
    }
}

@media screen and (max-width: 1500px) {
    .games__header{
        flex-direction: column;
    }
    
    .games__header-content{
        margin: 0 0 3rem;
    }
    .square2{
        right: 300px;
        top: 100px;
        width: 100px;
        height: 100px;
    }
    .square{
        right: -100px;
        top: 10px;
    }.circle{
        width: 0px;
        height: 0px;
    }.games__header-image img{
        width: 50%;
        height: 50%;
        margin-top: 5rem;
    }.circle2{
        right: -500px;
        top: -700px;
    }
}

@media screen and (max-width: 1200px) {
    .games__header{
        flex-direction: column;
    }
    
    .games__header-content{
        margin: 0 0 3rem;
    }
    .square2{
        width: 0px;
        height: 0px;
    }
    .square{
        right: -100px;
    }.circle{
        width: 0px;
        height: 0px;
    }
}

@media screen and (max-width: 1050px) {
    .games__header{
        flex-direction: column;
    }
    
    .games__header-content{
        margin: 0 0 3rem;
    }
    .square2{
        width: 0px;
        height: 0px;
    }
    .square{
        right: -100px;
    }.circle{
        width: 0px;
        height: 0px;
    }.circle2{
        right: 300px;
        top: -500px;
    }
}
@media screen and (max-width: 900px){
    .square{
        right: -250px;
    }
}
@media screen and (max-width: 750px){
    .square{
        top: 10px;
    }
}
@media screen and (max-width: 650px) {
    .games__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .games__header b{
        font-size: 16px;
        line-height: 24px;
    }
    
    .games__header-content__input button{
        font-size: 16px;
        line-height: 24px;
    }
    .square{
        width: 50px;
        height: 50px;
        right: -50px;
    }
}

@media screen and (max-width: 490px) {
    .games__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    
    .games__header p{
        font-size: 14px;
        line-height: 24px;
    }
    .games__header-content__input button{
        font-size: 12px;
        line-height: 16px;
    }
}
