.games__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

.games__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

.games__navbar-links_logo{
    margin-right: 2rem;
}

.games__navbar-links_logo img{
    width: 200px;
    height: auto;
}

.games__navbar-links_container{
    display: flex;
    color: #001e33;
    flex-direction: row;
}

.games__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.games__navbar-sign :hover{
    color: #ff6d33
}
.games__navbar-links_container :hover{
    color: #ff6d33
}
.activeItem{
    text-decoration: underline;
}
.games__navbar-links_container p,
.games__navbar-links_container p a,
.games__navbar-sign p,
.games__navbar-menu_container p {
    color: #001e33;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform:initial;
    /*margin: 0 0rem;*/
    cursor: pointer;
}

.games__navbar-logout button,
.games__navbar-menu_container button{
    padding: 0.5rem 1rem;
    color: #FFF;
    font-family: var(--font-family);
    font-weight: 500;
    left: 1187px;
    top: 31px;
    font-size: 18px;
    line-height: 25px;
    background: #001e33;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.games__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.games__navbar-menu img {
    cursor: pointer;
}

.games__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: #001e33;
    padding: 2rem;
    position: absolute;
    top:40px;
    right: 0;
    margin-top: 1rem;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.games__navbar-menu_container p{
    margin: 1rem 0;
}

.games__navbar-menu_container-links-sign {
    display: none;
}
.games__navbar-menu_container-links-sign button{
    background: #ff6d33;
}

.icone-out{
    margin-left: 1rem;
    margin-right: -1rem;
    width: 10px;
    height: auto;
}

@media screen and (max-width: 1050px) {
    .games__navbar-links_container{
        display: none;
    }
    .games__navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .games__navbar{
        padding: 2rem 2rem;
    }
}

@media screen and (max-width: 550px) {
    .games__navbar{
        padding: 2rem 4rem;
    }
    .games__navbar-sign{
        display: none;
    }
    .games__navbar-menu_container{
        top:20px;
    }
    .games__navbar-menu_container-links-sign{
        display: block;
    }
}