/*.PageHeading {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black !important;
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}*/


.form {
    margin-left: 20px;
}

h3 {
    text-align: center;
}
