.gradient__bg h4 {
    font-size: 30px;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    float: right;
}

    .add-btn button {
        background: #966aae;
        color: #fff;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        min-width: 150px;
        
    }