.btn {
    padding: 0.5rem 1rem;
    color: #FFF;
    font-family: var(--font-family);
    font-weight: 500;
    left: 1187px;
    top: 31px;
    font-size: 18px;
    line-height: 25px;
    background: #966aae;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
