.lgames__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 2rem 2rem;

}

.games__navbar-links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items:center;
}

.games__navbar-links__logo{
    margin-right: 2rem;
}

.games__navbar-links_container{
    display: flex;
    flex-direction: row;
}

.games__navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.games__navbar-links_container p,
.games__navbar-sign p,
.games__navbar-menu_container p {
    color: #FFF;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 2rem;
    cursor: pointer;
}

.games__navbar-sign button,
.games__navbar-menu_container button{
    padding: 0.5rem 1rem;
    color: #FFF;
    font-family: var(--font-family);
    font-weight: 500;
    left: 1187px;
    top: 31px;
    font-size: 18px;
    line-height: 25px;
    background: #966aae;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
}

.games__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}

.games__navbar-menu svg {
    cursor: pointer;
}

.games__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    text-align: end;
    background: var(--gradient-text);
    padding: 2rem;
    position: absolute;
    top:40px;
    right: 0;
    margin-top: 1rem;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,0.2);
}

.games__navbar-menu_container p{
    margin: 1rem 0;
}

.games__navbar-menu_container-links-sign {
    display: none;
}

.games__navbar-sign p{
    color: #001e33;
}

@media screen and (max-width: 1050px) {
    .games__navbar-links_container{
        display: none;
    }
    .games__navbar-menu{
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .games__navbar{
        padding: 2rem 2rem;
    }
}

@media screen and (max-width: 550px) {
    .games__navbar{
        padding: 2rem 4rem;
    }
    .games__navbar-sign{
        display: none;
    }
    .games__navbar-menu_container{
        top:20px;
    }
    .games__navbar-menu_container-links-sign{
        display: block;
    }
}